<%- include ('../inc/header') %>

<h1 class="alert alert-info">Danh sách Màu</h1>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addColorModal">
    Thêm Màu
</button>

<% if(typeof(colors) !='undefined' && colors.length> 0) { %>
    <table class="table table-bordered">
        <tr>
            <th>Mã Màu</th>
            <th>Hình Ảnh</th>
            <th>Số Lượng</th>
        </tr>

        <% colors.forEach((row)=> { %>
            <tr>
                <td>
                    <%= row.colorCode.colorCode %>
                </td>
                <td><img src="<%= row.image %>" alt="Hình Ảnh" style="width: 100px;"></td>
                <td>
                    <%= row.quantity %>
                </td>
            </tr>
            <% }) %>
    </table>
    <% } else { %>
        Không có dữ liệu
        <% } %>

            <div class="modal fade" id="addColorModal" tabindex="-1" aria-labelledby="addColorModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addColorModalLabel">Thêm Màu</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="" method="post">
                                <label for="colorCode" class="form-label">Mã Màu:</label>
                                <select id="txtColorCode" class="form-control" name="colorCode">
                                    <% colorCodes.forEach((row)=> { %>
                                        <option value="<%= row._id %>">
                                            <%= row.nameColor %>
                                        </option>
                                        <% }) %>
                                </select>
                                <label for="image" class="form-label">Hình Ảnh:</label>
                                <input id="txtImage" class="form-control" name="image" type="text" placeholder="Đường dẫn hình ảnh">
                                <label for="quantity" class="form-label">Số Lượng:</label>
                                <input id="txtQuantity" class="form-control" name="quantity" type="number">
                                <label for="exampleInputEmail1" class="form-label fs-6 text-danger">
                                    <%=msg%>
                                </label><br />
                                <button type="submit"
                                    class="btn btn-primary my-auto position-relative start-50 translate-middle mt-3">Thêm</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <%- include ('../inc/footer') %>
