<%- include ('../inc/header') %>

<% function getStatusText(status) {
    switch(status) {
        case 0: return 'Đã hủy';
        case 1: return 'Chờ xác nhận';
        case 2: return 'Chờ lấy hàng';
        case 3: return 'Đang giao';
        case 4: return 'Đã giao';
        default: return 'Không xác định';
    }
} %>

<div>
    <div style="display: flex;" class="alert alert-info">
        <div style="display: flex;">
            <h2>Hóa đơn</h2>
            <form style="margin-left: 150px;width: 500px;">
                <div class="navbar-form navbar-right">
                    <input type="key" class="form-control" placeholder="Tìm kiếm" name="key">
                </div>
            </form>
        </div>
    </div>

    <div style="display: flex;" class="grid gap-0 column-gap-3">
        <div style="margin-right: 10dp; flex-basis: 20%;">
            <aside class="aside">
                <div class="accordion" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item" style="border-radius: 10%;">
                        <h2 class="accordion-header" style="text-align: center;background-color: #cff4fc;">
                            <label class="bs-info-text-emphasis">Đơn hàng</label>
                        </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                            <div style="margin-left: 20px;">
                                <div>
                                    <a href="/orders" class="nav-link">Tất Cả</a>
                                </div>
                                <div style="display: flex;">
                                    <a href="/orders?trangThai=1" class="nav-link">Chờ xác nhận</a>
                                </div>
                                <div>
                                    <a href="/orders?trangThai=2" class="nav-link">Đã xác nhận</a>
                                </div>
                                <div>
                                    <i class="bi bi-truck"></i>
                                    <a href="/orders?trangThai=3" class="nav-link">Đang giao hàng</a>
                                </div>
                                <div>
                                    <a href="/orders?trangThai=4" class="nav-link">Đã giao hàng</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    
    
    <div style="flex-basis: 80%; padding: 20px;">
        <table lass="table table-hover" style="flex-basis: 80%; background-color: v; border-collapse: collapse;">
            <thead>
                <tr class="table-row">
                    <th style="width: 10%; border: 2px solid azure; background-color: #cff4fc; ">Mã hóa đơn</th>
                    <th style="width: 10%; border: 2px solid azure; background-color: #cff4fc; ">Thời gian</th>
                    <th style="width: 10%; border: 2px solid azure; background-color: #cff4fc; ">Khách hàng</th>
                    <th style="width: 10%; border: 2px solid azure; background-color: #cff4fc; ">Tổng hóa đơn</th>
                    <th style="width: 10%; border: 2px solid azure; background-color: #cff4fc; ">Khách đã trả</th>
                </tr>
            </thead>
            <tbody>
                <% transactions.forEach(transaction => { %>
                    <% transaction.cart.forEach(item => { %>
                        <tr class="accordion-toggle">
                            <td><%= transaction._id %></td>
                            <td><%= transaction.thoiGian %></td>
                            <td><%= transaction.user.fullname %></td>
                            <td><%= transaction.tongTien %></td>
                            <td><%= transaction.tongTien %></td>
                        </tr>
                        <tr class="accordion-body" style="display: none;">
                            <td colspan="5">
                                <div style="background-color: #cff4fc;border-radius: 10px;max-width: 100%;">
                                    <div style="padding: 20px;">
                                        <div style="display: flex;">
                                            <div style="max-width: 300px">Mã hóa đơn:</div>
                                            <label style="margin-left: 10px;"><b><%= transaction._id %></b></label>
                                        </div>
                                        <div style="display: flex;">
                                            <div style="max-width: 300px">Thời gian:</div>
                                            <label style="margin-left: 10px;"><%= transaction.thoiGian %></label>
                                        </div>
                                        <div style="display: flex;">
                                            <div style="max-width: 300px">Khách hàng:</div>
                                            <label style="margin-left: 10px;"><%= transaction.user.fullname %></label>
                                        </div>
                                        <div style="display: flex;">
                                            <div style="max-width: 300px">Địa chỉ:</div>
                                            <label style="margin-left: 10px;"><%= transaction.user.diaChi %></label>
                                        </div>
                                        <div style="display: flex;">
                                            <div style="max-width: 300px">Trạng thái:</div>
                                            <label style="margin-left: 10px;"><%= getStatusText(transaction.trangThai) %></label>
                                        </div>                                        
                                    </div>
                                    <div style="padding: 20px;">
                                        <table class="table table-striped table-sm" style="flex-basis: 80%;">
                                            <thead>
                                                <tr class="table-dark">
                                                    <th>Tên hàng</th>
                                                    <th>Số lượng</th>
                                                    <th>Đơn giá</th>
                                                    <th>Thành tiền</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><%= item.products.productName %></td> <!-- Tên hàng -->
                                                    <td><%= item.soLuong %></td> <!-- Số lượng -->
                                                    <td><%= item.products.price %></td> <!-- Đơn giá -->
                                                    <td><b><%= item.soLuong * item.products.price %></b></td> <!-- Thành tiền -->
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div style="padding-left: 20px;">
                                        <div style="display: flex;">
                                            <div style="max-width: 300px">Tổng số lượng:</div>
                                            <label style="margin-left: 10px;"><b><%= item.soLuong %></b></label>
                                        </div>
                                        <div style="display: flex;">
                                            <div style="max-width: 300px">Tổng hóa đơn:</div>
                                            <label style="margin-left: 10px;"><b><%= transaction.tongTien %></b></label>
                                        </div>
                                        <div style="display: flex;">
                                            <div style="max-width: 300px">Giảm hóa đơn:</div>
                                            <label style="margin-left: 10px;"></label>
                                        </div>
                                        <div style="display: flex;">
                                            <div style="max-width: 300px">Khách cần trả:</div>
                                            <label style="margin-left: 10px;"><b><%= transaction.tongTien %></b></label>
                                        </div>
                                        <div style="display: flex;">
                                            <div style="max-width: 300px">Khách đã trả:</div>
                                            <label style="margin-left: 10px;"><b><%= transaction.tongTien %></b></label>
                                        </div>
                                    </div>
                                    <div style="padding: 20px;">
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateStatusModal-<%= transaction._id %>">
                                            Cập nhật trạng thái
                                        </button>
                                    </div>
                                </div>
                                <div class="modal fade" id="updateStatusModal-<%= transaction._id %>" tabindex="-1" aria-labelledby="updateStatusModalLabel-<%= transaction._id %>"
                                    aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="updateStatusModalLabel-<%= transaction._id %>">Cập nhật trạng thái</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form action="/orders/update-status" method="post">
                                                    <input type="hidden" name="id" value="<%= transaction._id %>">
                                                    <label for="trangThai" class="form-label">Trạng thái:</label>
                                                    <select id="trangThai" class="form-control" name="trangThai">
                                                        <option value="0" <%= transaction.trangThai == 0 ? 'selected' : '' %>>Đã hủy</option>
                                                        <option value="1" <%= transaction.trangThai == 1 ? 'selected' : '' %>>Chờ xác nhận</option>
                                                        <option value="2" <%= transaction.trangThai == 2 ? 'selected' : '' %>>Chờ lấy hàng</option>
                                                        <option value="3" <%= transaction.trangThai == 3 ? 'selected' : '' %>>Đang giao</option>
                                                        <option value="4" <%= transaction.trangThai == 4 ? 'selected' : '' %>>Đã giao</option>
                                                    </select>
                                                    <button type="submit"
                                                        class="btn btn-primary my-auto position-relative start-50 translate-middle mt-3">Cập nhật</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    <% }) %>
                <% }) %>
            </tbody>
        </table>
    </div>
</div>
<div class="pagination" style="margin-left: 90%;">
        <a href="?page=<%= currentPage - 1 %>" class="btn btn-primary">Trước</a>
    <span class="current-page btn btn-secondary disabled"><%= currentPage %></span>
    <a href="?page=<%= currentPage + 1 %>" class="btn btn-primary">Tiếp theo</a>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const accordionItems = document.querySelectorAll('.accordion-toggle');
        accordionItems.forEach(function (item) {
            item.addEventListener('click', function () {
                const nextElement = this.nextElementSibling;
                if (nextElement.style.display === 'none') {
                    nextElement.style.display = 'table-row';
                } else {
                    nextElement.style.display = 'none';
                }
            });
        });
    });
</script>
<%- include ('../inc/footer') %>
