<%- include ('../inc/header') %>

<h1 class="alert alert-info">Danh sách Size</h1>
<%= msg %>

<% if(typeof(sizes) != 'undefined' && sizes.length > 0) { %>
    <table class="table table-bordered">
        <tr>
            <th>Size Code</th>
            <th>Color</th>
            <th>Quantity</th>
        </tr>

        <% sizes.forEach((row) => { %>
        <tr>
            <td><%= row.sizeCode %></td>
            <td><%= row.color %></td>
            <td><%= row.quantity %></td>
        </tr>
        <% }) %>
    </table>
<% } else { %>
    Không có dữ liệu
<% } %>

<a href="/sizes/add" class="btn btn-primary">Thêm size mới</a>

<%- include ('../inc/footer') %>
