<%- include ('../inc/header') %>

<h1 class="alert alert-info">Danh sách Size</h1>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addSizeModal">
  Thêm Size
</button>

<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#addSizeCodeModal">
  Thêm Mã Size
</button>

<% if(typeof(sizes) != 'undefined' && sizes.length > 0) { %>
    <table class="table table-bordered">
        <tr>
            <th>Mã Size</th>
            <th>Hình Ảnh Màu</th>
            <th>Số Lượng</th>
        </tr>

        <% sizes.forEach((row) => { %>
        <tr>
            <td><%= row.sizeCode.sizeCode %></td>
            <td><img src="<%= row.color.map(c => c.image).join(', ') %>" alt="Hình ảnh của <%= row.color.map(c => c.colorCode.colorCode).join(', ') %>" style="width: 100px;"></td>
            <td><%= row.quantity %></td>
        </tr>
        <% }) %>
    </table>
<% } else { %>
    Không có dữ liệu
<% } %>

<!-- Biểu mẫu modal để thêm size mới -->
<div class="modal fade" id="addSizeModal" tabindex="-1" aria-labelledby="addSizeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addSizeModalLabel">Thêm Size</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" method="post">
                    <input type="hidden" name="action" value="addSize">
                    <label for="sizeCode" class="form-label">Mã Size:</label>
                    <select id="txtSizeCode" class="form-control" name="sizeCode">
                        <% sizeCodes.forEach((row)=> { %>
                            <option value="<%= row._id %>">
                                <%= row.sizeCode %>
                            </option>
                        <% }) %>
                    </select>
                    <label for="color" class="form-label">Màu:</label>
                    <select id="txtColor" class="form-control" name="color">
                        <% colors.forEach((row)=> { %>
                            <option value="<%= row._id %>">
                                <%= row.colorCode.colorCode %>
                            </option>
                        <% }) %>
                    </select>
                    <label for="quantity" class="form-label">Số Lượng:</label>
                    <input id="txtQuantity" class="form-control" name="quantity" type="number">
                    <label for="exampleInputEmail1" class="form-label fs-6 text-danger">
                        <%=msg%>
                    </label><br />
                    <button type="submit"
                        class="btn btn-primary my-auto position-relative start-50 translate-middle mt-3">Thêm</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Biểu mẫu modal để thêm mã size mới -->
<div class="modal fade" id="addSizeCodeModal" tabindex="-1" aria-labelledby="addSizeCodeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addSizeCodeModalLabel">Thêm Mã Size</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" method="post">
                    <input type="hidden" name="action" value="addSizeCode">
                    <label for="newSizeCode" class="form-label">Mã Size:</label>
                    <input id="txtNewSizeCode" class="form-control" name="newSizeCode" type="text">
                    <label for="exampleInputEmail1" class="form-label fs-6 text-danger">
                        <%=msg%>
                    </label><br />
                    <button type="submit"
                        class="btn btn-primary my-auto position-relative start-50 translate-middle mt-3">Thêm</button>
                </form>
            </div>
        </div>
    </div>
</div>

<%- include ('../inc/footer') %>
