<%- include ('../inc/header') %>

<div>
  <div style="display: flex;" class="alert alert-info">
    <div style="display: flex;">
      <h2>Danh sách người dùng</h2>
      <form action="/users/list" method="GET" style="margin-left: 150px;width: 500px;">
        <div class="navbar-form navbar-right">
          <input type="text" class="form-control" placeholder="Tìm kiếm người dùng" name="search">
        </div>
      </form>
    </div>
  </div>

  <div style="display: flex;" class="grid gap-0 column-gap-3">
    <div style="flex-basis: 100%; margin-left: 0%;">
      <% if(typeof(users) !='undefined' && users.length> 0) { %>
        <table class="table table-striped table-sm" style="flex-basis: 85%;">
          <thead>
            <tr class="table-dark" style="flex-basis: 90%; margin-left: 5%;">
              <th>Họ và tên</th>
              <th>Email</th>
              <th>Địa chỉ</th>
              <th>Số điện thoại</th>
              <th>Chức danh</th>
              <th>Trạng thái</th>
              <th>Khóa</th>
              <th>Lịch Sử</th>
            </tr>
          </thead>
          <% users.forEach((row)=> { %>
            <tr>
              <td><%= row.fullname %></td>
              <td><%= row.email %></td>
              <td><%= row.diaChi %></td>
              <td><%= row.sdt %></td>
              <td><% if(row.status=0) { %>Admin<% } else { %>Người dùng<% } %></td>
              <td><% if(row.isLocked) { %>Người dùng bị khóa<% } else if(!row.isLocked) { %>Hoạt động<% } %></td>
              <td>
                <button class="lock-button" data-id="<%= row._id %>">
                  <% if(row.isLocked) { %>Mở khóa<% } else if(!row.isLocked) { %>Khóa<% } %>
                </button>
              </td>
              <td><a href="/users/purchase-history/<%= row._id %>">Xem lịch sử mua</a></td>
            </tr>
          <% }) %>
        </table>
      <% } else { %>
        Không có dữ liệu
      <% } %>
    </div>
  </div>

  <div class="pagination" style="margin-left: 90%;">
        <a href="?page=<%= page - 1 %>&search=<%= search %>" class="btn btn-primary">Trước</a>
    <span class="current-page btn btn-secondary disabled"><%= page %></span>
    <a href="?page=<%= page + 1 %>&search=<%= search %>" class="btn btn-primary">Tiếp theo</a>
</div>

  

<script>
  document.querySelectorAll('.lock-button').forEach(function (button) {
    button.addEventListener('click', function (event) {
      var userId = event.target.getAttribute('data-id');
      if (confirm('Bạn có muốn khóa người dùng này không?')) {
        fetch('/users/lock/' + userId, {
          method: 'POST',
        }).then(function (response) {
          if (response.ok) {
            return response.text();
          } else {
            throw new Error('Lỗi khi khóa người dùng');
          }
        }).then(function () {
          window.location.reload();
        }).catch(function (error) {
          console.error('Lỗi:', error);
        });
      }
    });
  });
</script>

<%- include ('../inc/footer') %>